* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Inconsolata:wght@600&family=Indie+Flower&family=Lato:wght@300;400&family=M+PLUS+Code+Latin:wght@300&family=Yuji+Syuku&display=swap");
.container {
  display: grid;
  width: 100%;
  padding-top: 5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  font-size: 4rem;
  color: black;
  background-color: #f9d357;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(48rem, 1fr));
  grid-auto-rows: 80rem;
}

.container2 {
  display: grid;
  width: 100%;
  font-size: 3rem;
  padding-top: 5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  color: white;
  background-color: rgb(29, 27, 27);
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(48rem, 1fr));
  grid-auto-rows: 70rem;
}

.grey {
  background-color: rgb(22, 21, 21);
  justify-items: start;
}

.icon {
  width: 10rem;
}

.icon:hover {
  transition: all 0.5s;
  transform: rotate(5deg) scale(1.3);
}

.hr {
  border-top: 1px solid #fff;
  margin-bottom: 5rem;
  width: 100%;
}

.company-name {
  font-size: 3rem;
  font-weight: bold;
}
.date {
  font-size: 2rem;
  font-weight: 100;
}
.position {
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 5rem;
}

.project {
  padding: 5rem;
}

.project-title {
  margin-bottom: 5rem;
  font-size: 3rem;
}
.hero-img {
  width: 80%;
  height: auto;
  object-fit: cover;
  padding-top: 5rem;
  border-radius: 1rem;
}
.hero-imgs {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.icon {
  margin: 1rem;
}

.nav {
  transition: all 0.1s linear;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2000;
  padding: 2rem;
  color: black;
  transition: all 3s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  border-bottom: none;
}

.nav.false {
  width: 100%;
}

.scrollNav {
  transition: all 0.5s ease-in;
  display: flex;
  z-index: 2000;
  background: #f9d357;
  width: 100%;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 3rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
  .container {
    width: 100%;
    padding: 0;
    padding-top: 10rem;
    grid-auto-rows: 50rem;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
    margin: 0;
  }

  .container2 {
    width: 100%;
    padding: 0;
    grid-auto-rows: 45rem;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
    margin: 0;
  }

  .grey {
    grid-auto-rows: 60rem;
  }

  .item-icon {
    margin-top: 1rem;
  }

  .hero-img {
    width: 40rem;
    padding: 0;
  }

  .hero-imgs {
    width: 35rem;
    padding: 0;
  }

  .item-1 {
    padding: 2rem;
  }
}

@media (max-width: 1039px) {
  .edugie-picture {
    grid-row: 5/6;
  }
}

@media (min-width: 1400px) {
  .hero-img {
    width: 50rem;
    height: auto;
    padding-top: 5rem;
    border-radius: 1rem;
  }
}
